/* IMPORT FONTS */
@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import "./media-queries/phone.css" screen and (max-width: 1079px);
@import "./media-queries/tablet.css" screen and (min-width: 481px) and
	(max-width: 1023px);

/* ROOT VARS */
:root {
	--black: #262427;
	--dark-grey: #3f3840;
	--mid-grey: #5e5363;
	--light-grey: #918b9a;
	--white-grey: #cac9d9;
	--index-bg: #90143d;
	--index-border: #4d0a20;
	--index-mc: #d61d5b;
	--html-bg: #973114;
	--html-border: #5b1907;
	--html-mc: #df4d25;
	--css-bg: #8e6100;
	--css-border: #442502;
	--css-mc: #f8be1e;
	--js-bg: #0c852d;
	--js-border: #024513;
	--js-mc: #22bd4b;
	--react-bg: #261680;
	--react-border: #0f063f;
	--react-mc: #412ab5;
	--create-bg: #701083;
	--create-border: #32063b;
	--create-mc: #8e17a5;
	--red: #ce1852;
	--green: #33e190;
	--button-shine: 1px 2px 3px rgba(255, 255, 255, 40%) inset,
		-3px -2px 4px rgba(0, 0, 0, 50%) inset;
	--drop-shadow: 0 1px 4px rgba(0, 0, 0, 60%);
	--text-shadow: 0 2px 5px rgba(0, 0, 0, 70%);
	--block-shadow: 3px 2px var(--mid-grey);
	--link-text-glow: 0 0px 5px var(--white-grey);
	--link-box-glow: 0 0 4px var(--white-grey);
	--main-text: "Comfortaa", Arial, Helvetica, sans-serif;
	--header-text: "Limelight", Times, serif;
	--font-size-normal: 1.5rem;
	--font-size-small: 1rem;
	--font-size-large: 2.3rem;
	scrollbar-color: var(--dark-grey) var(--black);
}

/* #ROOT */
#root {
	box-sizing: border-box;
	z-index: 1;
	min-height: 100vh;
	width: 100%;
	background-color: var(--mid-grey);
}

::-webkit-scrollbar {
	box-sizing: border-box;
	background-color: var(--dark-grey);
	border: 1px solid var(--black);
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
	background-color: var(--black);
}

body {
	background-color: var(--mid-grey);
}

header {
	z-index: 2;
	position: sticky;
	top: 0;
	height: fit-content;
	width: 100%;
	margin-bottom: 5px;
	display: grid;
	grid-template-columns: min-content 1fr 3fr;
	column-gap: 0.05rem;
	place-items: center;
	text-align: center;
	line-height: calc(var(--font-size-large) * 1.1);
	background-color: var(--dark-grey);
}

nav {
	z-index: 3;
	display: flex;
	flex-direction: row-reverse;
	justify-self: right;
	align-items: center;
	grid-column: 3;
	margin-right: 0.5rem;
}

main {
	z-index: 2;
	margin: 0 auto;
	display: flex;
	text-align: center;
	flex-direction: column;
	max-width: 100%;
}

footer {
	z-index: 2;
	/* position: sticky;
	bottom: 0; */
	width: 100%;
	margin-top: 5px;
	padding: 2px;
	background-color: var(--dark-grey);
	text-align: center;
	color: var(--white-grey);
}
