h1,
h2,
h3,
h4,
p,
a {
	color: var(--white-grey);
}
h1,
h2,
h3,
h4 {
	font-family: var(--header-text);
}
p,
a {
	font-family: var(--main-text);
}
p {
	text-align: center;
}
a {
	text-decoration: none;
}
